name = "bahasadri-frontend"
compatibility_date = "2025-11-22"

pages_build_output_dir = "./dist"

# Backend bindings (same as backend/wrangler.toml)
[[kv_namespaces]]
binding = "SMS_MESSAGES"
id = "e1c31d9857df45d49f00c03daa8b9602"
preview_id = "e1c31d9857df45d49f00c03daa8b9602"

[[r2_buckets]]
binding = "file_hosting_prod"
bucket_name = "file-hosting-prod"

[[d1_databases]]
binding = "FILE_HOSTING_DB"
database_name = "file-hosting"
database_id = "00822e66-3363-42df-b80a-526c0a1efc30"

[placement]
mode = "smart"

